<template>
    <div class="element">
        <div class="data">{{name}}</div>
        <div class="data">{{damage}}</div>
    </div>
</template>

<script>
export default {
    name:"AttackDataElement",
    props:{
        name:String,
        damage:Number
    }
}
</script>

<style scoped>
.element{
    display: flex;
    background-color: palevioletred;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    border: 5px goldenrod;
    width: 50vw;    
    margin: 5px;
    box-shadow: darkgray 5px 5px;
}
.data{
    background-color: goldenrod;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    font-size: 30px;
    border: 5px solid darkslategrey;
}
</style>