<template>
    <div class="flexcentre chartclass">
        <h1>Analytics</h1>
        <!--looping throught the array and creating elements-->
        <attack-graph/>
        <level-data-element/>
    </div>
</template>

<script>
import LevelDataElement from './LevelGraph'
import AttackGraph from './AttackGraphComponent'
import {mapGetters,mapActions} from 'vuex';
export default {
    name:'AttackData',
    components:{
        LevelDataElement,
        AttackGraph,
    },
    data(){
        return{
             BarOptions: {
        chart: {
          id: "vuechart-example"
        }
      },
        }
    },
    methods:{
       ...mapActions(['fetchAttacks'])
    },
    computed: mapGetters(['getAllAttacks'])
,
    created(){
        this.fetchAttacks();
    }
    
}
</script>

<style scoped>
.flexcentre{
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;  
  align-items: center;
}
.chartclass {
  min-width: 500px;
  width: 75vw;
  color: black;
  background-color: blanchedalmond;
  margin: 10%;
  border: 2px solid black;
  transition: 0.5s;
}
.chartclass:hover {
  transition: 0.5s;
  transform: scale(1.1);
  border: 5px solid black;
  box-shadow: -10px 10px 2px darkslategray;
}
</style>