<template>
  <div class="chart">
    <apexchart :options="this.BarOptions" :series="getAllAttacks"></apexchart>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import apexchart from "vue-apexcharts";
export default {
  name: "AttackGraph",
  components: {
    apexchart
  },
  data() {
    return {
      BarOptions: {
        chart: {
          type: "bar",
          id: "atack-chart",
          height: "500"
        },
        plotOptions: {
          bar: {
            horizontal: false,
            startingShape: "flat",
            endingShape: "flat",
            columnWidth: "70%",
            barHeight: "70%",
            distributed: false,
            rangeBarOverlap: true,
            colors: {
              ranges: [{from: 0,to: 200,color: "#B43757"},{from: 200,to: 400,color: "#EA3C53"},{from: 400,to: 600,color: "#D21F3C"},{from: 600,to: 700,color: "#FF0800"},{from: 0,to: 50,color: "#FFFFFF"}],
              backgroundBarColors: [],
              backgroundBarOpacity: 1,
              backgroundBarRadius: 0
            },
            dataLabels: {
              position: "center",
              maxItems: 100,
              hideOverflowingLabels: true,
              orientation: "horizontal"
            }
          }
        },
        title: {
          text: "Attack Values"
        }
      }
    };
  },
  methods: {
    ...mapActions(["fetchAttacks"])
  },
  computed: mapGetters(["getAllAttacks"]),
  created() {
    this.fetchAttacks();
  }
};
</script>

<style scoped>
.chart {
  width: 75%;
}
</style>