<template>
  <div class="inputcomp">
    <form @submit="onSubmit">
      <label for="attackinput">Attack Name:</label>
      <input type="text" name="attackinput" v-model="attackdata.attack" />
      <label for="attackdamage">Attack Damage:</label>
      <input type="number" name="attackdamage" v-model="attackdata.damage" />
      <input type="submit" value="Add" class="button" />
    </form>
    <br />
    <form @submit="onSubmitPos">
      <label for="xInput">X:</label>
      <input type="number" name="xInput" v-model="positiondata.X" />
      <label for="yInput">Y:</label>
      <input type="number" name="yInput" v-model="positiondata.Y" />
      <input type="submit" value="Add" class="button" />
    </form>
  </div>
</template>

<script>
"use strict";
//import datastore from 'datastore'
import { mapActions } from "vuex";
import axios from "axios";
export default {
  name: "AddAnalyticsData",
  data() {
    return {
      attackdata: {
        attack: "",
        damage: 0
      },
      positiondata: {
        X: 0,
        Y: 0
      }
    };
  },
  methods: {
    ...mapActions(["addAttacks"]),
    async onSubmit(event) {
      event.preventDefault();
      //let newattack = this.attackdata;
      await axios
        .post(
          "https://telemetaryproject.wm.r.appspot.com/save",
          this.attackdata
        )
        .then(response => {
          console.log(response.data);
          this.$swal(`Attack {Name:${this.attackdata.attack} Damage:${this.attackdata.damage}} added`);
        });
    },
    async onSubmitPos(event) {
      event.preventDefault();
      //let newattack = this.attackdata;
      await axios
        .post(
          "https://telemetaryproject.wm.r.appspot.com/savepos",
          this.positiondata
        )
        .then(response => {
          console.log(response.data);
          this.$swal(`Position {X:${this.positiondata.X} Y:${this.positiondata.Y}} added`);
        });
    }
  }
};
</script>

<style scoped>
.inputcomp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 100vw;
  margin: 5px;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
input[type="text"] {
  flex: 3;
  padding: 5px;
  background-color: pink;
}

input[type="number"] {
  flex: 3;
  padding: 5px;
  background-color: pink;
}

input[type="submit"] {
  flex: 1;
}
</style>