<template>
  <div id="Main-Header">
    <header class="site-header">
      <div class="logo-site"></div>
      <div class="chars"></div>
      <div class="petals"></div>
    </header>
  </div>
</template>

<script>
//import the components to use on the site page
import jquery from 'jquery'
let $ = jquery
//exporting the components
export default {
  name: 'MainHeader',
  components: {
  },
  props:{
    height:Number
  },
  methods:{
    paralaxEffect(){
      var wScroll = $(window).scrollTop();
      //translating the logo
      $('.logo-site').css({
        'transform' : 'translate(0px,'+ wScroll/2+'%)',
      });

      //translating the petals
        $('.petals').css({
        'transform' : 'translate('+ wScroll/8+'%,'+ wScroll/4+'%)',
      });

        //translating the characters
        $('.chars').css({
        'transform' : 'translate(0px,-'+ wScroll/20+'%)',
      });
    }
  },
  created(){
    $(window).scroll(this.paralaxEffect);
  }
  
}


</script>


<style>
.site-header{
  position: relative;
  height: 600px;
  background-image: url('../assets/Back.png');
  background-size:cover;
  background-repeat: no-repeat;
  position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo-site{
  position: absolute;
  height: 100px;
  width: 100%;
  background-size: contain;
  background-image: url('../assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  top:50%;
  margin-top: -50px;
  z-index: 10;
}

.chars{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size:contain ;
  background-color:transparentize(pink,0.4);
  background-repeat: no-repeat;
  background-image: url('../assets/Chars.png');
  background-position: bottom center;
  top:200px;
  z-index: 5;
}

.petals{
width: 100%;
height: 100%;
position: absolute;
background-image: url('../assets/petals.png');
background-repeat: no-repeat;
background-size: contain;
background-position: top center;
top:-40%;
left: -20%;
z-index: 1;
}

</style>
