<template>
  <div class="chart">
    <apexchart
      :options="this.BubbleOptions"
      :series="getbubblepositions"
    ></apexchart>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import apexchart from "vue-apexcharts";
export default {
  name: "LevelGraph",
  data() {
    return {
      BubbleOptions: {
        chart: {
          type: "bubble",
          id: "Position Heat Map",
          zoom: {
            enabled: false
          },
          height: '500',
          foreColor: '#000000'
        },
        dataLabels: {
          enabled: true
        },
        fill: {
          opacity: 0.5
        },
        title: {
          text: "Position Heat Map"
        },
        xaxis: {
          tickAmount: 20,
          min: 0,
          max: 100
        },
        yaxis: {
          tickAmount: 20,
          min: 0,
          max: 100
        },
        colors: ["#FF0000", "#00FF00"]
      }
    };
  },
  methods: {
    ...mapActions(["fetchPositions"])
  },
  components: {
    apexchart
  },
  computed: {
    ...mapGetters(["getallpositions", "getbubblepositions"])
  },
  mounted() {
    this.fetchPositions();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chart{
    width: 75%;
    height: 100%;
}
</style>
