<template>
    <div class ="Navbar">
      <router-link class = "buttons" to="/">Admin</router-link>
      <router-link class = "buttons" to="/attack">Data</router-link>
      <router-link class = "buttons" to="/site">Team</router-link>
    </div>
</template>

<script>
import jquery from 'jquery'
let $ = jquery
export default {
  name: 'Navbar',
  data(){
    return{
      wScroll:0
    }
  },
  methods:{
  },
  mounted(){
      var that = this;
     $(window).scroll(function(){
      that.wScroll = $(this).scrollTop();
      //console.log(that.wScroll);
     });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Navbar
{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 10vh;
  min-height: 100px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color:#112c38;
  z-index: 20;
  transition: 0.5s;
  overflow: hidden;
}

.buttons{
  display:block;
  position: relative;
  padding: 0.5vw;
  margin: 0 20px;
  transition: 0.5s;
  min-width: 5vw;
  color: whitesmoke;
  font: bold;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.Navbar:hover a{
  transform: scale(1.2);
  opacity: .2;
  filter: blur(5px);
}

.Navbar a:hover{
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0px);
}

.Navbar a:before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background: linear-gradient(90deg, #755bea,#e73e8d,#13f7f7,#755bea);
  filter: blur(0.5px);
  animation: animate 8s linear infinite;
  border-radius: 50px;
  background-size: 400%;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}
@keyframes animate{
   0%{
     background-position: 0%;
   }
    100%{
     background-position: 400%;
   }
}
.Navbar a:hover:before{

  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.buttons:active {  

  transition: 0.5s; 
  transform: scale(0.5);
  border: lightskyblue 5px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
</style>
