<template>
  <div class="profile">
    <div class="column">
      <div class="content">
        <h1>Artists</h1>
       <profilecard :title="title[0]"
                    :content="content">
        </profilecard>
      </div>
      <div class="bg bg1"></div>
    </div>
    <div class="column">
      <div class="content">
        <h1>Level Designers</h1>
          <profilecard :title="title[1]"
                    :content="content">
        </profilecard>
      </div>
      <div class="bg bg2"></div>
    </div>
    <div class="column">
      <div class="content">
        <h1>Programmer</h1>
         <profilecard :title="title[2]"
                    :content="content">
        </profilecard>
      </div>
      <div class="bg bg3"></div>
    </div>
  </div>
</template>

<script>
import jquery from 'jquery'
import profilecard from '../components/ProfileCard'
let $ = jquery
export default {
  name: 'Profile',
  data(){
    return{
        title:["Artist","Level Designers","Programmers"],
        content:`Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex 
            ea commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat 
            cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.`
    }
  },
  components:{
    profilecard
  },
  created(){
    //let that = this;
   $(".profile").hover(function(){
    console.log('hello');
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.profile{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.column{
  width: 33%;
  height: 100%;
  z-index: 1;
  border-right: 2px solid black;

}
.column:last-child{
  border-right: none;
}

p{
  text-align: start;
}

h1{
  position: absolute;
}

.content{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.box{
flex: 0.5;
width: 100%;
transition: 0.5s;
border: 5px solid black;
opacity: 0;
background-color: wheat;
color: black;
}

.box:hover{
opacity: 1;
transform: scale(0.9);
}
</style>
