<template>
  <div class="box">
    <h2>{{title}}</h2>
    <p>"{{content}}"</p>
  </div>

</template>

<script>
import jquery from 'jquery'
let $ = jquery
export default {
  name: 'ProfileCard',
  props: {
    title:String,
    content:String
  },
  mounted(){
    //let that = this;
   $(".box").hover(()=>{
    console.log('hello');
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.profilecard{
  width: 100%;
  height: 500px;
}
p{
  text-align: start;
}
.box{
flex: 0.5;
width: 100%;
transition: 0.5s;
border: 5px solid black;
opacity: 0;
background-color: wheat;
color: black;
}

.box:hover{
opacity: 1;
transform: scale(0.9);
}
</style>
