<template>
  <div id="app">
    <navbar></navbar>
    <div style="height:9vh;width:100%;position:relative;top:0"></div>
    <mainheader v-bind:height = navbar_height></mainheader>
    <router-view/>
  </div>
</template>

<script>
import axios from 'axios'
import mainheader from './components/Header'
import navbar from './components/NavbarComponent'
export default {
  name:'App',
  components:{
    mainheader,
    navbar
  },
  data(){
    return{
      navbar_height : 100
    }
  },
  methods:{
    created()
    {
      axios.get('')
    },
  }
}

</script>

<style>

@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
#app {
  width: 100%;
  height: 100vh;
  font-family: 'PT Sans Caption', sans-serif;
  text-align: center;
  color: whitesmoke;
  
}
html{
background-color:#112c38;
}
#app ::-webkit-scrollbar {
  display: none;
}
</style>
