<template>
  <div id="Admin">
    
    <Title :msg="titlemsg"/>
    <data-input/>
  </div>
</template>

<script>
//import the components to use on the main page
import Title from '../components/TitleComponent.vue'
import DataInput from '../components/DataInputComponent.vue'
import axios from 'axios'

//exporting the components
export default {
  name: 'Admin',
  components: {
    Title,
    DataInput,
  },
  data(){
    return{
      titlemsg: 'Unworthy Roses Cloud App',
      attackData: [
      ]
    }
  },

  methods:{
    creted(){
      axios.get()
    }
  }
}
</script>

<style>
#Admin {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}

.button{
  display: inline-block;
  border: 2px solid black;
  background-color: darkslategray;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}
</style>
