<template>
  <div id="MainPage">
    <profile/>
  </div>
</template>

<script>
//import the components to use on the site page
import profile from '../components/ProfileComponent'
//exporting the components
export default {
  name: 'Site',
  components: {
    profile
  }
  
}


</script>


<style>
</style>
